<%- include("partials/header"); -%>
<div class="grid grid-columns-3 gap-3 px-3" style="margin-bottom:5%;">
    <% blogs.forEach(function(blog) { %>
        <div class="card"
            style="display: flex; flex-direction: column; justify-content: space-between; padding-bottom: 10px; transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;">
            <div class="card-header" style="transition: background-color 0.3s ease;">
                <a href="/blogs/<%= blog.title %>">
                    <img src="<%= blog.image %>" class="card-image" alt="Image not Available" style="transition: filter 0.3s ease;">
                </a>
            </div>
            <div class="card-body card-hover" style="width: max-width; height: max-content; transition: color 0.3s ease;">
                <h2 class="card-title">
                    <a href="/blogs/<%= blog.title %>" style="transition: color 0.3s ease;"><%= blog.title %></a>
                </h2>
                <div class="card-content">
                    <p class="card-text">
                        <%= blog.content.substring(0, 100) + " ..." %>
                    </p>
                </div>
            </div>
            <div class="card-footer" style="width: 100px; align-self: flex-end; margin-right: 20px;">
                <a href="/blogs/<%= blog.title %>" class="btn btn-primary" style="transition: background-color 0.3s ease;">Read more</a>
            </div>
        </div>
    <% }); %>
</div>
<%- include("partials/footer"); -%>
